<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/layuimini.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <script src="/lib/layui-v2.5.4/layui.js?v=1.0.4" charset="utf-8"></script>
    <script src="/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">



        <div class="layui-btn-group">
            <button class="layui-btn data-add-btn">添加</button>
            <button class="layui-btn layui-btn-danger data-delete-btn">删除</button>
        </div>
        <input id="input1" style="width: 200px;height: 30px;margin-left: 50px" type="text" name="tiltle" placeholder="账号查询">
        <button id="selectStudent" class="layui-btn layui-btn-normal">查找</button>

        <div class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"> ></div>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>
    </div>
</div>

<script th:inline="none">
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        table.render({
            elem: document.getElementById('currentTableId'),
            url: '/studentListWithPage',
            cols: [[
                {type: "checkbox", width: 50, fixed: "left"},
                {type: 'numbers', title: '序号', sort: true, width:50},
                {field: 's_name', title: '姓名'},
                {field: 'user_name', title: '学号',hiddin:true},
                {field: 'sex', title: '性别'},
                {field: 'class_name',title: '班级'},
                {field: 's_id', title: '学号',hide:true},
                {field: 'dept_name', title: '院系'},
                {title: '操作', minWidth: 50, templet: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            page:true,
            limit:10,
            response:{statusCode:0},
            parseData:function (res) {
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                }
            }

        });
        //条件搜索
        $("#selectStudent").on("click",function () {
            var s_name = $("#input1").val();
            table.reload('currentTableId', {
                url:'/selectStudentByName',
                where: {
                    s_name: s_name
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        })
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息'
            });
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');
            return false;
        });
        // 监听添加操作
        $(".data-add-btn").on("click", function () {
            layer.open({
                type:2,
                content:"/toStudentAdd",
                maxmin:true,
                area:['500px','500px'],
                end: function () {//无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
                    table.reload('currentTableId', {
                        url: '/studentListWithPage',
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    }); //只重载数据
                }
            })
        });
        // 监听删除操作
        $(".data-delete-btn").on("click", function () {
            var checkStatus = table.checkStatus('currentTableId')
                , data = checkStatus.data;
            if (JSON.stringify(data) == null || JSON.stringify(data) == "[]"){
                layer.msg("选择不能为空！");
            }else {
                layer.confirm('真的删除行么', function (index) {
                    if (index) {
                        var checkStatus = table.checkStatus('currentTableId'),
                            data = checkStatus.data;
                        var id = [];
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                id += data[i].s_id + ',';
                            }
                            console.log(id);
                            $.ajax({
                                type: "post",
                                url: '/studentDeleteMany',
                                data: {"id": id},
                                success: function (data) {
                                    layer.alert(data.extend.msg);
                                    // setTimeout(function () {
                                    //     location.reload();
                                    // }, 2000);
                                    // layer.close(index);
                                }

                            });
                            return false;
                        }
                        ;
                    } else {
                        layer.close(index);
                    }
                });
            }
        });
        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            console.log(data);
            if (obj.event === 'edit') {
                // layer.open({
                //     type:2,
                //     content:'https://www.layui.com/admin/std/dist/views/user/user/userform.html',
                //     area: ['500px', '300px']
                // })
                layer.open({
                    type:2,
                    content:"/studentGetById?id="+data.s_id,
                    maxmin:true,
                    area:['500px','500px'],
                    end: function () {//无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
                        table.reload('currentTableId', {
                            url: '/studentListWithPage',
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        }); //只重载数据
                    }
                })
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    if (index){
                        $.ajax({
                            type:"post",
                            url:"/studentDelete",
                            data:{"id":data.s_id},
                            success:function (data) {
                                // obj.del();
                                layer.alert(data.extend.msg);
                                table.reload('currentTableId', {
                                    url: '/studentListWithPage',
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                }); //只重载数据
                            }
                        });
                    }else {
                        layer.close(index);
                    }
                });
            }
        });
    });
</script>
<script>
</script>

</body>
</html>