<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myth.springboot.dao.QuestionMapper">
    <resultMap id="question" type="com.myth.springboot.entity.Question">
        <id property="q_id" column="q_id"/>
        <result property="question" column="question"/>
        <result property="answer1" column="answer1"/>
        <result property="answer2" column="answer2"/>
        <result property="answer3" column="answer3"/>
        <result property="answer4" column="answer4"/>
        <result property="point" column="point"/>
    </resultMap>
    <!--查找所有试题-->
    <select id="selectQuestion" parameterType="com.myth.springboot.entity.Question" resultType="com.myth.springboot.entity.Question">
        select * from question

    </select>
    <!--修改试题-->
    <update id="updateQuestion" parameterType="com.myth.springboot.entity.Question">
        update question
        set question=#{question},answer1=#{answer1},answer2=#{answer2},answer3=#{answer3},answer4=#{answer4},point=#{point}
        where q_id=#{q_id}
    </update>
    <!--根据ID查找试题-->
    <select id="selectQuestionById" parameterType="com.myth.springboot.entity.Question" resultType="com.myth.springboot.entity.Question">
        select * from question where q_id=#{q_id}
    </select>
    <!--根据题目查找试题-->
    <select id="selectQuestionByName" parameterType="com.myth.springboot.entity.Question" resultType="com.myth.springboot.entity.Question">
        select * from question where question=#{question}
    </select>
    <!--添加试题-->
    <insert id="addQuestion" parameterType="com.myth.springboot.entity.Question">
        insert into question values( null,#{question},#{answer1},#{answer2},#{answer3},#{answer4},#{point})
    </insert>
    <!--删除试题-->
    <delete id="deleteQuestion" parameterType="com.myth.springboot.entity.Question">
        delete from question where q_id=#{q_id}
    </delete>
    <!--查询所有占比-->
    <select id="selectPoint" parameterType="com.myth.springboot.entity.Question" resultType="string">
        select ROUND(sum(point),2) from question
    </select>

</mapper>