<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <script type="text/javascript" src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <script type="text/javascript" src="../static/script/jquery.min.js"></script>
</head>
<body>
<form class="" action="">
    <input type="hidden" name="id" th:value="${course.getCo_id()}">

    <div class="layui-form-item" id="list1">
        <label class="layui-form-label">班级</label>
        <div class="layui-input-block">
            <input type="text" onclick="hitClass()" id="c_name" name="name" required lay-verify="required"
                   th:value="${course.getCo_name()}" placeholder="" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">点击修改</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="sub()">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
<script>



    function hitClass() {
        $("#c_name").empty();
    }

    function sub() {
        alert(6666);
        var data = $("form").serialize();
        $.ajax({
            url: "/courseUpdate",
            data: data,
            success: function (result) {
                alert(result.extend.msg);

            },
            error: function () {
                alert("老弟不知道怎么肥事！")
            }
        })
    }
</script>
</html>
