<!doctype html>
 <html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../static/layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="../static/layuiadmin/style/admin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script type="text/javascript" src="../static/script/jquery.min.js"></script>
    <script type="text/javascript" src="../static/layuiadmin/layui/layui.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body class="index">


<form class="layui-form" id="yes">
    <select>
        <option>1</option>
        <option>2</option>
    </select>
    <div id="test" onclick="hello()">1111</div>

</form>

</body>
<script>
    layui.config({
        base: '../static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('form','index')
    function hello() {
        var form = layui.form;
        $("#test").empty();
        var n=$("<select><option>12222</option></select>")
        var t=$("<div>222</div>")
        $("#yes").append(n).append(t);
        form.render();//需要渲染一下
    }
</script>
<script>

</script>
</html>