<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<script type="text/javascript" src="../static/script/jquery.min.js"></script>
<body>
<div  id="list1">
    <input type="text" name="class" id=""   onclick="hitClass()"
            value="1111">
</div>
<div id="list2">
    <input id="list3" type="text" onclick="test()" value="1111111">
</div>
</body>
<script>

        function hitClass() {
            $.ajax({
                url: "http://localhost:8080/classList",
                dataType:"jsonp",
                success: function (result) {
                    alert(7777)
                    // var list1 = $("#list1").empty();
                    // var select = $("<select></select>");
                    // $.each(result.extend.cla, function (index, item) {
                    //     var data = $("<option></option>").append(item.c_id + "-" + item.c_naem);
                    //     select.append(data);
                    // })
                    // list1.append(select);
                },
                error:function (result) {
                    alert(88888)

                }


            })
        }

    function test() {
        $("#list2").empty();
        var select = $("<select></select>");
        var option1 = $("<option></option>").append("1111");
        var option2 = $("<option></option>").append("2222");
        select.append(option1).append(option2);
        $("#list2").append(select);
    }
</script>
</html>