<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>LayuiMini - 基于Layui的后台管理系统前端模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/layuimini.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <script src="/lib/layui-v2.5.4/layui.js?v=1.0.4" charset="utf-8"></script>
    <script src="/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
</head>
<body>
<div class="layuimini-container">
    <form class="layui-form" action="">
        <input type="hidden" name="id" th:value="${user.getU_id()}">

        <div class="layui-form-item">
            <label class="layui-form-label">账户</label>
            <div class="layui-input-inline">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入账户" autocomplete="off" disabled
                       th:value="${user.getU_name()}"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">无法修改用户名</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
                       th:value="${user.getU_password()}"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">这里是登陆的密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限</label>
            <div class="layui-input-inline " id="list1">
                <input type="text" name="text" required lay-verify="required" placeholder="" autocomplete="off"
                       th:value="${user.getType_id()}+'-'+${user.getType_name()}" id="type"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">这里是权限信息</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn sub" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" th:inline="none">


    layui.use(['element', 'layer', 'layuimini', 'form'], function () {
        var $ = layui.jquery,
            element = layui.element,
            layer = layui.layer;
        var form = layui.form;
        //点击权限，弹出下拉
        $("#type").on("click", function () {
            $("#list1").empty();
            $.ajax({
                url: "/typeList",
                success: function (result) {

                    // var div = $("<div></div>").addClass("layui-input-block");
                    var list = $("#list1").empty();
                    var select = $("<select name='type' ></select>").addClass("");
                    $.each(result.extend.type, function (index, item) {
                        var data = $("<option></option>").append(item.id + "-" + item.name);
                        // layer.alert(item.id);
                        select.append(data);
                    })
                    // div.append(select)
                    $("#list1").append(select);
                    form.render();
                },
                error: function () {
                    alert("出错了");
                }

            })
        })

        $(".sub").on("click", function () {

            form.on('submit(*)', function (data) {
                console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                console.log(data.field)
                var yes = data.field;//当前容器的全部表单字段，名值对形式：{name: value}

                $.ajax({
                    url: "/userUpdate",
                    data: yes,
                    success: function (result) {

                        layer.alert(result.extend.msg);
                        var index = parent.layer.getFrameIndex(window.name);
                        setTimeout(function () {
                            parent.layer.close(index);//关闭当前页
                        }, 2000)
                    },
                    error: function () {
                        layer.alert("老弟不知道怎么肥事！")
                        var index = parent.layer.getFrameIndex(window.name);
                        setTimeout(function () {
                            parent.layer.close(index);//关闭当前页
                        }, 2000)
                    }
                });
                return false;
            })
        })

    })

</script>
</html>
